{% set articles = Widget.settings.articles %}
{% set warenkorb = 50.0 %}
{% set warenkorbMinimum = 50.0 %}
{% if warenkorb >= warenkorbMinimum %}
<div>
  <option>Artikel1</option>
  <option>Artikel2</option>
</div>
{% else %}
<div>
  <p>Noch Waren im Wert von {{warenkorbMinimum - warenkorb}} CHF bestellen um einen gratis Artikel zu erhalten</p>
</div>
{% endif %}
